/* Début animation OhMyFood version Mobile */
@media screen and (min-width: 375px) and (max-width: 549px){
/* Loader du site (index) OhMyFood */ 
.wrapper {
    position: fixed;
    display: flex;
    width: 100%;
    align-content: center;
    gap: 20px;
    padding-top: 235px;
    justify-content: center;
    animation: loaderR 3s ease-in-out forwards;
  }
  @keyframes loaderR {
    0%{
        opacity: 1;
        z-index: 1000;
        height: 100vh;
        background-color: white;
    }
    100%{
        opacity: 0;
        background-color: none;
    }
}
  .rond {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: bounce 3s ease-in-out infinite;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-45px);
      opacity: 0.5;
    }
    100% {
      transform: translateY(0px);
    }
  }
/* Fin Loader du site (index) OhMyFood */

/* Bouton coeur menu */
    .fa-heart{
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: larger;
    &:hover{
    background: linear-gradient(#9356dc, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: color 1s ease-out;
    font-weight: bold;
    }
/* Animation TOP Menu */
}
.Menu_restaurant{
    animation: fade-in-top 1s;
    }
@keyframes fade-in-top {
0% {
    transform: translateY(-50px);
    opacity: 0;
}
100% {
    transform: translateY(0px);
    opacity: 1;
}  
}
/* Fin Animation TOP Menu */
/* Animation Coche Menu */
    .coche{
    position: absolute;
    right: 8px;  
    border-radius: 0 15px 15px 0;
}
    .fa-check-circle{
    border: transparent 1px solid;
    color: transparent;
    width: 50px;
}

    .Nom_description:hover .coche{
    background-color: #99E2D0;
    animation: fade-in-right 0.3s ease-out forwards;
  }
  @keyframes fade-in-right {
  0%{
  transform: translateX(50px);
}
  100%{
  transform: translateX(0px);
  }
}
    .Nom_description:hover .fa-check-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    width: 53px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    border-radius: 0 15px 15px 0;
    animation: fade-in-rotate 1s ease-out forwards;
}
@keyframes fade-in-rotate {
    0% {
    transform: rotate(180deg);
    }
    100% {
    transform: rotate(360deg);
    }
}
/* Fin animation Coche Menu */

/* Décalage prix coche */ 
.Nom_description:hover .prix{
animation: fade-in-right-price 0.5s ease-out forwards;
}
@keyframes fade-in-right-price{
    0% {
        transform: translateX(0px);
        }
    100% {
        transform: translateX(-50px);
        }
}
/* Fin Décalage coche */
/* Fin animation OhMyFood version Mobile */
}
/* Début animation OhMyFood version Tablette */
@media screen and (min-width: 550px) and (max-width: 768px){
/* Loader du site (index) OhMyFood */ 
.wrapper {
    position: fixed;
    display: flex;
    width: 100%;
    align-content: center;
    gap: 20px;
    padding-top: 135px;
    justify-content: center;
    animation: loaderR 3s ease-in-out forwards;
  }
  @keyframes loaderR {
    0%{
        opacity: 1;
        z-index: 1000;
        height: 100vh;
        background-color: white;
    }
    100%{
        opacity: 0;
        background-color: none;
    }
}
  .rond {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: bounce 3s ease-in-out infinite;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-45px);
      opacity: 0.5;
    }
    100% {
      transform: translateY(0px);
    }
  }
/* Fin Loader du site (index) OhMyFood */

/* Bouton coeur menu */
    .fa-heart{
        position: absolute;
        top: 18px;
        right: 20px;
        font-size: larger;
        &:hover{
        background: linear-gradient(#9356dc, #ff79da);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: color 1s ease-out;
        font-weight: bold;
        }
}
.Menu_restaurant{
    animation: fade-in-top 1s;
    }
@keyframes fade-in-top {
0% {
    transform: translateY(-50px);
    opacity: 0;
}
100% {
    transform: translateY(0px);
    opacity: 1;
}  
}
    .coche{
        position: absolute;
        right: 15px;
        border-radius: 0 15px 15px 0;
}
    .fa-check-circle{
        border: transparent 1px solid;
        color: transparent;
        width: 50px;
    }

    .Nom_description:hover .coche{
    background-color: #99E2D0;
    animation: fade-in-right 0.3s ease-out forwards;
  }
  @keyframes fade-in-right {
    0%{
    transform: translateX(50px);
  }
    100%{
    transform: translateX(0px);
    }
}
    .Nom_description:hover .fa-check-circle{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 54px;
        width: 53px;
        color: white;
        font-weight: bold;
        font-size: 25px;
        border-radius: 0 15px 15px 0;
        animation: fade-in-rotate 1s ease-out forwards;
    }
    @keyframes fade-in-rotate {
        0% {
            transform: rotate(180deg);
        }
        100% {
            transform: rotate(360deg);
        }  
}
/* Décalage prix coche */
.Nom_description:hover .prix{
    animation: fade-in-right-price 0.5s ease-out forwards;
    }
    @keyframes fade-in-right-price{
        0% {
            transform: translateX(0px);
            }
        100% {
            transform: translateX(-50px);
            }
    }
/* Fin Décalage prix coche */ 
/* Fin animation OhMyFood version tablette */
}
/* Début animation OhMyFood version PC */
@media screen and (min-width: 769px) and (max-width: 4500px){

/* Loader du site (index) OhMyFood */ 
.wrapper {
    position: fixed;
    display: flex;
    width: 100%;
    align-content: center;
    gap: 20px;
    right: 20px;
    justify-content: center;
    animation: loaderR 3s ease-in-out forwards;
  }
  @keyframes loaderR {
    0%{
        opacity: 1;
        z-index: 1000;
        height: 100vh;
        background-color: white;
    }
    100%{
        opacity: 0;
    }
}
  .rond {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: bounce 3s ease-in-out infinite;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-45px);
      opacity: 0.5;
    }
    100% {
      transform: translateY(0px);
    }
  }
/* Fin Loader du site (index) OhMyFood */

/* Bouton coeur menu */
    .fa-heart{
        cursor: pointer;
        position: absolute;
        top: 13px;
        right: 10px;
        font-size: larger;
        &:hover{
        cursor: pointer;
        background: linear-gradient(#9356dc, #ff79da);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: color 1s ease-out;
        font-weight: bold;
        }
    }
    .Menu_restaurant{
        animation: fade-in-top 1s;
        }
    @keyframes fade-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }  
    }
    .coche{
        position: absolute;
        margin-left: 363px;
        border-radius: 0 15px 15px 0;
    }
    .Nom_description:hover .coche{
        background-color: #99E2D0;
        animation: fade-in-right 0.3s ease-out forwards;
      }
@keyframes fade-in-right {
        0%{
        transform: translateX(50px);
      }
        100%{
        transform: translateX(0px);
        }
      }
    .fa-check-circle{
        border: transparent 1px solid;
        color: transparent;
        width: 50px;
    }
.Nom_description:hover .fa-check-circle{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        color: white;
        font-weight: bold;
        font-size: 25px;
        border-radius: 0 15px 15px 0;
        animation: fade-in-rotate 1s ease-out forwards;
        }
        @keyframes fade-in-rotate {
            0% {
                transform: rotate(180deg);
            }
            100% {
                transform: rotate(360deg);
            }  
}
/* Décalage prix coche */
.Nom_description:hover .prix{
    animation: fade-in-right-price 0.3s ease-out forwards;
    }
    @keyframes fade-in-right-price{
        0% {
            transform: translateX(0px);
            }
        100% {
            transform: translateX(-50px);
            }
    }
/* Fin Décalage prix coche */ 
}
/* Fin animation OhMyFood version PC */