/* Début animation OhMyFood version Mobile */
@media screen and (min-width: 375px) and (max-width: 549px){
/* Loader du site (index) OhMyFood */ 
#floatingBarsG{
	position:fixed;
	width:100%;
	height:100%;
    animation-name: visiblenovisible;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    background-color: white;
    z-index: 1;
}
@keyframes visiblenovisible{
0%{
    opacity: 1;
} 
100%{
    opacity: 0;
}
}
.blockG{
    display: flex;
	background-color:#C4C4C4;
	width: 150vw;
	height:150vh;
	border-radius:7px 7px 0 0;
	animation-name:fadeG;
	animation-duration:0.48s;
	animation-iteration-count:infinite;
}
#rotateG_01{
    display: flex;
    justify-content: center;
	animation-delay:0.18s;
	transform:rotate(90deg);
}
#rotateG_02{
    display: flex;
    justify-content: center;
	animation-delay:0.6s;
	transform:rotate(180deg);
}
@keyframes fadeG{
	0%{
		background-color:#000000;
	}
	100%{
		background-color:#C4C4C4;
	}
}
/* Fin Loader du site (index) OhMyFood */

/* Bouton coeur menu */
    .fa-heart{
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: larger;
    &:hover{
    background: linear-gradient(#9356dc, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: color 1s ease-out;
    font-weight: bold;
    }
/* Animation TOP Menu */
}
.Menu_restaurant{
    animation: fade-in-top 1s;
    }
@keyframes fade-in-top {
0% {
    transform: translateY(-50px);
    opacity: 0;
}
100% {
    transform: translateY(0px);
    opacity: 1;
}  
}
/* Fin Animation TOP Menu */
}
/* Animation Coche Menu */
    .coche{
        position: absolute;
        right: 14px;
        border-radius: 0 15px 15px 0;

}
    .coche:hover .fa-check-circle{
    transform: rotateZ(0);
}
    .fa-check-circle{
        border: transparent 1px solid;
        color: transparent;
        width: 50px;
        transform: rotateY(360deg);
        &:hover{
        transform: rotateZ(360deg);
        }
}
    .Nom_description:hover .fa-check-circle{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 54px;
        width: 53px;
        color: white;
        font-weight: bold;
        font-size: 25px;
        border-radius: 0 15px 15px 0;
        animation: fade-in-right 0.3s ease-out forwards;
        transform: rotateZ(360deg);
        }
@keyframes fade-in-right {
    0% {
    background-color: #ffff;
    }
    100% {
    background-color: #99E2D0;
    }
}
/* Fin animation Coche Menu */

/* Décalage prix coche */ 
.Nom_description:hover .prix{
animation: fade-in-right-price 0.3s ease-out forwards;
}
@keyframes fade-in-right-price{
    0% {
        transform: translateX(0px);
        }
    100% {
        transform: translateX(-50px);
        }
}
/* Fin Décalage coche */
/* Fin animation OhMyFood version Mobile */

/* Début animation OhMyFood version Tablette */
@media screen and (min-width: 550px) and (max-width: 768px){
/* Loader du site (index) OhMyFood */ 
#floatingBarsG{
    z-index: 1;
	position:fixed;
	width:100%;
	height:100%;
    animation-name: visiblenovisible;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    background-color: white;
}
@keyframes visiblenovisible{
0%{
    opacity: 1;
} 
100%{
    opacity: 0;
}
}
.blockG{
	position:absolute;
	background-color:#C4C4C4;
	width: 150vw;
	height:150vh;
	border-radius:7px 7px 0 0;
	animation-name:fadeG;
	animation-duration:0.48s;
	animation-iteration-count:infinite;
}
#rotateG_01{
	animation-delay:0.18s;
	transform:rotate(90deg);
}
#rotateG_02{
	animation-delay:0.6s;
	transform:rotate(180deg);
}
@keyframes fadeG{
	0%{
		background-color:#000000;
	}
	100%{
		background-color:#C4C4C4;
	}
}
/* Fin Loader du site (index) OhMyFood */

/* Bouton coeur menu */
    .fa-heart{
        position: absolute;
        top: 18px;
        right: 20px;
        font-size: larger;
        &:hover{
        background: linear-gradient(#9356dc, #ff79da);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: color 1s ease-out;
        font-weight: bold;
        }
}
.Menu_restaurant{
    animation: fade-in-top 1s;
    }
@keyframes fade-in-top {
0% {
    transform: translateY(-50px);
    opacity: 0;
}
100% {
    transform: translateY(0px);
    opacity: 1;
}  
}
    .coche{
        display: flex;
        position: absolute;
        right: 22px;
        border-radius: 0 15px 15px 0;
}
    .coche:hover .fa-check-circle{
    transform: rotateZ(0);
}

    .fa-check-circle{
        border: transparent 1px solid;
        color: transparent;
        width: 50px;
        &:hover{
        transform: rotateZ(360deg);
        }
}
    .Nom_description:hover .fa-check-circle{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 54px;
        width: 53px;
        color: white;
        font-weight: bold;
        font-size: 25px;
        border-radius: 0 15px 15px 0;
        animation: fade-in-right 0.3s ease-out forwards;
    }
    @keyframes fade-in-right {
        0% {
            background-color: #ffff;
        }
        100% {
            background-color: #99E2D0;
        }  
}
/* Décalage prix coche */
.Nom_description:hover .prix{
    animation: fade-in-right-price 0.3s ease-out forwards;
    }
    @keyframes fade-in-right-price{
        0% {
            transform: translateX(0px);
            }
            100% {
            transform: translateX(-50px);
            }
    }
/* Fin Décalage prix coche */ 
/* Fin animation OhMyFood version tablette */

/* Début animation OhMyFood version PC */
@media screen and (min-width: 769px) and (max-width: 1600px){
/* Loader du site (index) OhMyFood */ 
#floatingBarsG{
    z-index: 1;
	position:fixed;
	width:100%;
	height:100%;
    animation-name: visiblenovisible;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    background-color: white;
}
@keyframes visiblenovisible{
0%{
    opacity: 1;
} 
100%{
    opacity: 0;
}
}
.blockG{
	position:absolute;
	background-color:#C4C4C4;
	width: 100%;
	height:100%;
	border-radius:7px 7px 0 0;
	animation-name:fadeG;
	animation-duration:0.48s;
	animation-iteration-count:infinite;
}
#rotateG_01{
	animation-delay:0.18s;
	transform:rotate(90deg);
}
#rotateG_02{
	animation-delay:0.6s;
	transform:rotate(180deg);
}
@keyframes fadeG{
	0%{
		background-color:#000000;
	}
	100%{
		background-color:#C4C4C4;
	}
}
/* Fin Loader du site (index) OhMyFood */

/* Bouton coeur menu */
    .fa-heart{
        cursor: pointer;
        position: absolute;
        top: 13px;
        right: 10px;
        font-size: larger;
        &:hover{
        cursor: pointer;
        background: linear-gradient(#9356dc, #ff79da);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: color 1s ease-out;
        font-weight: bold;
        }
    }
    .Menu_restaurant{
        animation: fade-in-top 1s;
        }
    @keyframes fade-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }  
    }
    .coche{
        display: flex;
        right: 40px;
        border-radius: 0 15px 15px 0;
    }
    .coche:hover .fa-check-circle{
        transform: rotateZ(0);
    }
    .fa-check-circle{
        border: transparent 1px solid;
        color: transparent;
        width: 50px;
        &:hover{
            transform: rotate(360deg);
        }
    }
.Nom_description:hover .fa-check-circle{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 54px;
        width: 53px;
        color: white;
        font-weight: bold;
        font-size: 25px;
        border-radius: 0 15px 15px 0;
        animation: fade-in-right 0.3s ease-out forwards;
        }
        @keyframes fade-in-right {
            0% {
                background-color: #ffff;
            }
            100% {
                background-color: #99E2D0;
            }  
}
}
/* Décalage prix coche */
.Nom_description:hover .prix{
    animation: fade-in-right-price 0.3s ease-out forwards;
    }
    @keyframes fade-in-right-price{
        0% {
            transform: translateX(0px);
            }
        100% {
            transform: translateX(-50px);
            }
    }
/* Fin Décalage prix coche */ 
}
/* Fin animation OhMyFood version PC */