/* Les paramètres CSS des boutons sur toutes les versions */
@media screen and (min-width: 375px){
    .retour{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
    }
    .bouton_explorer{
    font-size: 20px;
    font-weight: 500;
    display: flex;
    margin: auto;
    padding: 15px;
    border: none;
    border-radius: 100px;
    background: linear-gradient(to left top, #9356DC, #FF79DA);
    color: white;
    box-shadow: #a5a5a5 0 5px 10px;
    font-family: "Roboto";
    &:hover{
    background: linear-gradient(to left top, #c08aff, #fb97df);
    color: white;
    box-shadow:lightsteelblue 5px 5px 5px 5px;
    }
}
    .bouton_commander{
    font-weight: 500;
    display: flex;
    width: 200px;
    justify-content: center;
    margin: auto;
    padding: 15px;
    margin-top: 30px;
    border: none;
    border-radius: 100px;
    background: linear-gradient(to left top, #9356DC, #FF79DA);
    color: white;
    box-shadow: 0 0 10px #d4d4d4;
    font-family: "Roboto";
    &:hover{
    background: linear-gradient(to left top, #c08aff, #fb97df);
    color: white;
    box-shadow: 5px 5px  5px 5px lightsteelblue;
        }
    }
}