/* CSS de la page index du site OhMyFood PC */
/* Recherche  */ 
.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    .search_restaurant{
    padding-top: 20px;
    text-align: center;
    width: 100%;
    height: 270px;
    border: none;
    background: #F2F2F2;
    align-items: center;
    font-family: "Roboto";
}
    .input-recherche{
    height: 50px;
    border: none;
    background: #e2e2e2;
    width: 100%;
    text-align: center;
    }
    .input-localisation{
    background-color: #e2e2e2;
    border: none;
    padding-top: 20px;
    padding-left: 10px;
    font-weight: bold;
}
    /* Corps de la page */ 
    .titre{
    padding-left: 10px;
    margin-top: auto;
    font-family: "Shrikhand";
}
    .fonctionnement{
    display: flex;
    margin-left: 5px;
}
    .fonctionnement_choix{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    }
    .fonctionnement_menu{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
    .choix{
    align-items: center;
    border: #9356DC 5px solid;
    color: white;
    background: #9356DC;
    border-radius: 20px;
    height: 18px;
    width: 18px;
}
    .texte_description{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 320px;
    border-radius: 20px;
    border: #F2F2F2 3px solid;
    background-color: #f6f6f6;
    align-items: center;
    gap: 30px;
    box-shadow: #d4d4d4 5px 5px 10px;
    font-weight: bold;
    margin: 5px;
    margin-left: 20px;
}
    .texte_description:hover{
    cursor: pointer;
    box-shadow: 0 0 10px #9356DC;
    opacity: 0.8;
    background: #9356DC;
}
    #icon_texte{
    display: flex;
    align-items: center;
}
    /* Main de la page */ 
    .section0{
    display: flex;
    padding-top: 40px;
    background: white;
    justify-content: center;
}
    #restaurant{
    background-color: #F2F2F2;
    width: 100%;
    height: 50%;
    border: #F2F2F2 5px solid;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
    .titre_restaurant{
   align-self: flex-start;
   padding-left: 10px;
}
    .cardsrestaurants{
    gap: 5px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction:column;
    align-items: center;
}
    .cardrestaurant{
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction:column; 
    background-color: white;
    box-shadow:2px 2px 8px #CCCCCC;
    justify-content: center;
}
    .imgRestaurant{
    height: 100%;
    width: 100%;
    display:flex;
}
    .imgRestaurant > img{
    width: 100%;
    height: 240px;
    object-fit: cover;
    display: flex;
    border-radius: 20px 20px 20px 20px;
}
.imgRestaurant .Nouveau{
    align-self: flex-start;
    right: 20px;
    background-color: #99E2D0;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    color: #5f867c;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    margin: 15px;
}
    .detailRestaurant{
    display:flex;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
    padding: 5px;
    border: 5px solid #FFFFFF;
    background: white;
    justify-content: center;
    gap: 10%;
    margin-left: 5px;
}
/* Fin CSS de la page index du site OhMyFood PC */